<div class="page-title">
  <div class="title">
    <h1>订阅管理</h1>
  </div>
</div>
<div class="conter-wrapper">
	<div class="panel panel-primary">
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-4">
						<label for="apiName" class="col-sm-4 control-label">API名称：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="请输入API名称" id="apiName" ng-model="vm.queryData.apiName">
						</div>
					</div>
					<div class="col-sm-8 creatDate">
						<label for="creatDate" class="col-sm-2 control-label">订阅时间：</label>
						<new-datetimepicker
			                type="range"
			                start-model=vm.queryData.startTime
			                end-model=vm.queryData.endTime
			              ></new-datetimepicker>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<label class="col-sm-4 control-label">API编号：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="请输入API编号(数字)" id="deveId" ng-model="vm.queryData.apiId" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9]+/,'');}).call(this)" onblur="this.v();">
						</div>
					</div>
					<div class="col-sm-4 email">
						<label class="col-sm-4 control-label">开发者邮箱：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="请输入开发者邮箱" ng-model="vm.queryData.devId">
						</div>
					</div>
					<div class="col-sm-4 email">
						<label class="col-sm-4 control-label">订阅者邮箱：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="请输入订阅者邮箱" ng-model="vm.queryData.subId">
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<bp-button type="default" ng-click="vm.reset()">清空条件</bp-button>
			<bp-button type="primary" ng-click="vm.sendQuery()">搜索</bp-button>			
		</div>
	</div>
	<div class="table-container">
	  <div class="table-wrapper ng-scope ng-table">
		<table class="table table-bordered table-hover" ng-table="vm.tableParams">
		  <thead>
			<tr>
				<th style="width: 15%">API名称</th>
			  	<th style="width: 13%">API编号</th>
			  	<th style="width: 14%">开发者用户名</th>
			  	<th style="width: 15%">开发者邮箱</th>
			  	<th style="width: 16%">订阅时间</th>
			  	<th style="width: 15%">订阅者邮箱</th>
			  	<th style="width: 12%">订阅者用户名</th>
			</tr>
		  </thead>
		  <tbody ng-if="vm.tableParams.data.length != 0">
		    <tr ng-repeat="row in $data">
			  <td>{{row.ApiName}}</td>
			  <td>{{row.ApiID}}</td>
			   <td>{{row.OwnerName}}</td>
			  <td>{{row.OwnerEmail}}</td>
			  <td>{{row.CreateTime}}</td>
			   <td>{{row.SubscriborEmail}}</td>
			  <td>{{row.SubscriborName}}</td>
		    </tr>
		  </tbody>
		</table>
		<div class="total" ng-if="vm.data.total > 0">共 {{vm.data.total}} 条记录</div>
		<div class="no-result" ng-if="vm.tableParams.data.length == 0">你的查询条件错误或查询结果不存在，请重新查询！ </div>
	  </div>
	</div>
</div>